body {
    margin: 0%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color:rgba(red, green, blue, alpha) #f0f0f0;
padding: 20px;
}